
body {
	background-image: url("../img/fond2.jpg");
	background-attachment:fixed;
}


#chronotime, #finPartie, #gameImage {
	display: none;
}

#gameImage{
	height: 250px;
}

#map{
	height: 400px;
}

#imgVilleAccueil {
	width : 142px;
	height : 142px;
}

#tableauScores table {
	border-collapse: collapse;
}

#menu {
	margin-bottom : 10px;
}

#content {
	background-color : white;
	border-radius : 10px;
	padding : 10px;
	border : 1px solid;
}

#gameContainer {
	padding : 20px;
}

#chronotime, #finPartie {
	margin-top : 10px;
	font-size: 1.2em;
}

#time, #scoreActuel, #scoreRealise {
	font-size :1.4em;
}

#finPartie div:first-child {
	margin-bottom : 30px;
}

#uploadPhotoAdmin #map{
	margin-bottom: 15px;
}

#difficulteButton input[type="radio"] {
	margin-right: 2px;
}

#difficulteButton label {
	margin-right: 15px;
}

.menuButton {
	transition : 1s all;
}

.menuButton:hover {
	background-color: #4d4d4d;
}

#tableauScores table tbody tr:first-child {
	background-color: rgba(255, 215, 0, 0.3);
}

#tableauScores table tbody tr:nth-child(2) {
	background-color : rgba(192, 192, 192, 0.3);
}

#tableauScores table tbody tr:nth-child(3) {
	background-color: rgba(117, 61, 24, 0.3);
}