{% extends "main.html.twig" %}

{% block content %}

<div class="row">
  <div class="large-12 text-center">
    <h2>Bienvenue sur PhotoLocate ! </h2>
  </div>
  <div class="large-8 small-7 small-centered large-centered columns panel callout text-center">
    <p>Place les photos sur la carte de la ville, plus tu es précis, plus tu gagnes de points.</p>
    <p>Répond le plus rapidement possible pour multiplier ton score !</p>
  </div>
</div>

<div class="row">
  <div id="tableauScores" class="large-3 columns radius text-center">
    <table class="large-12">
      <thead>
        <th>Meilleurs scores : </th>
        <th></th>
      </thead>
      <tbody>
        {% for partie in score %}
          <tr><td>{{partie.joueur}} :</td><td> {{partie.score}}</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="large-8 offset-1 columns">
    <form method="GET" action="{{path}}/play">
      <div class="row">
        <div class="large-3 small-5 columns">
            <input type="text" placeholder="Pseudo" name="pseudo" required/>     
        </div>
        <div id="difficulteButton" class="large-7 columns">
            <label><input type="radio" name="difficulte" value="1"/>  Facile</label>
            <label><input type="radio" name="difficulte" value="2" checked/> Normal</label>
            <label><input type="radio" name="difficulte" value="3"/> Difficile </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12" id="villes">
          {% for ville in villes %}
            <div class="large-3 offset-1 columns">
              <img id="imgVilleAccueil" class="large-12" src="{{ville.img}}"></img>
              <input type="submit" name="villeSelectionnee" class="button success large-12" value="{{ville.nom}}"/>
            </div>
          {% endfor %}
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}