{% extends "main.html.twig" %}

{% block content %}
	<div class="large-12 large-centered">
		<p>{{message}}</p>
		<a href="{{urlAccueil}}">Accueil</a>
		<a href="{{urlAdmin}}">Retour</a>
	</div>

{% endblock %}