{% extends "main.html.twig" %}

{% block script %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />

{% endblock %}

{% block content %}

<div class="row text-center">
	<h2>Upload de photos</h2>
</div>
<div class="row text-center">
	<div id="uploadPhotoAdmin" class="large-8 large-centered columns">
		<form method="POST" enctype="multipart/form-data">
			<div class="large-12">
		    	<label>Choisir l'image (1Mo max):</label>
		    	<input type="file" name="imageUpload" id="imageUpload"/>
		    	<input type="text" name="villeNom" placeholder="Nom de la ville"/>
	    	</div>

	    	<input type="hidden" name="MAX_FILE_SIZE" value="1000000"/>
	    	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}"/>

	    	<div id="map" style="cursor: pointer" class="large-12 columns"></div>
	    	<div class="large-6 columns">
	    		<input type="number" step="any" id="lat" name="lat" placeholder="Latitude"/>
	    	</div>
	    	<div class="large-6 columns">
	    		<input type="number" step="any" id="lng" name="lon" placeholder="Longitude"/>
	    	</div>

	    	<input type="submit" value="Upload" name="submit" class="button success radius"/>
		</form>
	</div>
</div>


<script>
	L.mapbox.accessToken = 'pk.eyJ1Ijoicmx4IiwiYSI6IkpDTHlsckUifQ.id22cqkVtiuVBpNy8wDtSw';
	map = L.mapbox.map('map', 'rlx.l6oc4d5a').setView([46.386626, 2.417925], 4);

	var marker = "";

	map.on('click',function(mouseEvent){
		map.removeLayer(marker);
		var lat = mouseEvent.latlng.lat;
		var lng = mouseEvent.latlng.lng;
		marker = new L.marker([lat, lng]).addTo(map);
		map.addLayer(marker);
		document.getElementById("lat").value = lat;
		document.getElementById("lng").value = lng;
	});
		
</script>

{% endblock %}

