{% extends "main.html.twig" %}

{% block button %}
	<a href="{{path}}" class="button left">Retour</a>
{% endblock %}

{% block content %}

<div class="row text-center">
	<h2>Connexion</h2>
</div>
<div class="row text-center">
	<div class="large-6 large-centered columns">
		<form method="POST">
			<div class="large-6 columns">
		    	<label>Pseudo</label>
		    	<input type="text" name="pseudo"/>
		    </div>
		    <div class="large-6 columns">
		    	<label>Mot de passe</label>
		    	<input type="password" name="mdp"/>
	    	</div>
	    	<input type="submit" value="Connexion" name="connexion" class="button success radius"/>
		</form>
		<a href="{{path}}/inscription">Inscription</a>
	</div>
</div>

{% endblock %}