<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PhotoLocate</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link media="screen" href="{{path}}/foundation/css/foundation.css" rel="stylesheet" type="text/css"/>
	<link media="screen" href="{{path}}/foundation/css/photolocate.css" rel="stylesheet" type="text/css"/>
	{% block script %}

	{% endblock %}
</head>
<body>
	{% include "menu.html.twig" %}

	<div id="container" class="row">
		<section id="content" class="large-12">
			{% block content %}

			{% endblock %}
		</section>
	</div>
</body>
</html>