<nav id="menu" class="top-bar" data-topbar role="navigation"> 
	<ul class="title-area"> 
		<li class="name menuButton"> 
			<h1><a href="{{path}}">PhotoLocate</a></h1> 
		</li>
	</ul> 
	<section class="top-bar-section">
		<ul> 
			<li class="menuButton"><a href="{{path}}/admin/connexion">Admin</a></li> 
		</ul> 
	</section>
</nav>