{% extends "main.html.twig" %}

{% block script %}


	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
	<script src="{{path}}/foundation/js/photolocate.js"> </script>
	<script>
		var pseudo = "{{pseudo}}";
		var path = "{{path}}";
		var ville = "{{ville}}";
		var difficulte = "{{difficulte}}";

	</script>
{% endblock %}

{% block content %}
	<div class="row">
		<div id="gameContainer"  class="large-12">
			<div id="gameImage" class="large-4 columns">
				<div class="row">
					<div id="currentImage" class="large-12">
					</div>
				</div>
				<div class="row">
					<div id="chronotime" class="large-12 text-center">
						Temps : <label id="time"></label></br>
						Score actuel : <label id="scoreActuel">0</label></br>
						Dernier tour : <label id="scoreTour"></label>
					</div>
				</div>
			</div>

			<div id="map" style="cursor: pointer" class="large-7 columns">

			</div>
		</div>
	</div>

	<div class="row large-collapse">

		<div id="finPartie" class="large-12 text-center">
			<div class="row">
				Score : <label id="scoreRealise"></label>
			</div>
			<style>
				#map2 { top:10px; bottom:0; width:700px; height:400px; margin-bottom: 20px;}
			</style>


			<div class="row">
				<label>Enregistrer le score <input type="checkbox" name="checkbox" id="checkbox"/></label>
				<input type="button" class="button radius success" value="Terminer" id="Enregistrer"/>
			</div>
			
			<input type="button" class="button" value="Voir les réponses" onclick="correction()"/>

			<div id="map2" class="large-centered large-6 columns">

			</div>
		</div>
	</div>
{% endblock %}
