{% extends "main.html.twig" %}

{% block button %}
	<a href="{{path}}" class="button left">Retour</a>
{% endblock %}

{% block content %}

<div class="row text-center">
	<h2>Inscription</h2>
</div>
<div class="row text-center">
	<div class="large-8 large-centered columns">
		<form method="POST">
	    	<div class="large-12 columns">
	    		<input type="text" name="pseudosign" placeholder="Pseudo"/>
	    	</div>
	    	<div class="large-6 columns">
	    		<input type="password" name="mdpsign" placeholder="Mot de passe"/>
	    	</div>
	    	<div class="large-6 columns">
	    		<input type="password" name="mdpsign2" placeholder="Retapez mdp"/>
	    	</div>
	    	<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}"/>
	    	<input type="submit" value="Valider" name="submit" class="button success radius"/>
		</form>
	</div>
</div>

{% endblock %}
